.employee-styles {
   flex-basis: 150px;
   flex-shrink: 1;
   flex-grow: 1;
   margin-left: 2px;
   padding: 5px 7px;
   max-height: 334px;
   &-ul {
      list-style: square inside;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-around;
   }
}
