.main {
   width: 100%;
   padding-bottom: 60px;
   background: url(../../../img/background/background-main-hd.png) repeat;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
}
