@import "../../../../VARIABLES.scss";

.slider-carousel {
   background-color: rgba(0, 0, 0, 0.4);
   max-width: 852px;
   width: 100%;
   max-height: 565px;
   height: 100%;
   margin-top: 30px;
   margin-left: 28px;
   position: relative;
   overflow: hidden;
   #SliderArrowPrev,
   #SliderArrowNext {
      opacity: 0.2;
      position: absolute;
      top: 262px;
   }
   &-item {
      width: inherit;
      height: inherit;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .project-image {
         display: block;
         max-width: 100%;
         height: 100%;
         cursor: zoom-in;

      }
   }

   #zoom-out {
      position: fixed;
      top: 15px;
      right: 15px;
      width: 35px;
      height: 35px;
      // background-color: rgba($colorTextGray, 0.7);
      span {
         display: block;
         width: 35px;
         height: 3px;
         background-color: $colorLines;
         position: absolute;
         top: 16px;
         right: 0;
      }
      span:first-child {
         transform: rotateZ(45deg);
      }
      span:last-child {
         transform: rotateZ(-45deg);
      }
   }
   #zoom-out:hover {
      // background-color: rgba($colorTextGray, 0.2);
      span {
         background-color: $colorPrimary;
      }
      cursor: pointer;
   }
}
#zoom-in {
   z-index: 5554;
   position: fixed;
   top: 0;
   left: 0;
   max-width: 100vw;
   margin: 0;
   background-color: rgba(0, 0, 0, 0.7);
   overflow: visible;
   cursor: auto;
   max-height: none;
   display: flex;
   align-items: center;
   justify-content: center;
   #SliderArrowPrev,
   #SliderArrowNext {
      top: 50%;
   }
   #SliderArrowNext {
      right: 40px;
   }
   .slider-carousel-item{
      .project-image{
         cursor: zoom-out;
      }
   }
}
.slider-carousel:hover {
   #SliderArrowPrev,
   #SliderArrowNext {
      opacity: 0.5;
   }
}
