.employee-info {
   flex-basis: 503px;
   flex-shrink: 0;
   max-height: 506px;
   height: 100%;
   margin-top: 10px;
   margin-left: 45px;
   padding: 3px 2px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
